.testing {
  padding: 15px 0;
}
.label {
  display: block;
  font-size: 1rem;
  color: #9b9b9b;
  margin-bottom: 15px;
}
.api-methods {
  border: none;
  padding: 10px 15px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #ccc;
}
.api-url {
  width: 100%;
  outline: none;
  border: 1px solid #ccc;
  border-right: none;
}
.api-send-btn {
  outline: none;
  border: none;
  background-color: #54b87b;
  color: #fff;
  padding: 0px 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}
.btn-disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.results {
  margin: 15px 0;
}
.response-result {
  overflow: hidden;
  height: 250px;
  overflow-y: scroll;
  margin: 15px 0;
}
.api-input {
  display: none;
  margin: 15px 0;
}
.displayBlock {
  display: block;
}
.api-input textarea {
  width: 100%;
  resize: none;
  background-color: #ffffff;
  text-align: left;
  font-size: 16px;
  outline: none;
  color: #2e2e2e;
  border-radius: 5px;
  padding: 10px 8px;
}
.text-success {
  color: #54b87b;
}
.text-danger {
  color: #ff0000;
}
.border-green {
  border: 1px solid #54b87b;
}
.border-red {
  border: 1px solid #ff0000;
}
/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #54b87b;
}
::-webkit-scrollbar-thumb:hover {
  background: #54b87b;
}